@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 48px
}

.light, .light-theme {
    .moon {
        display: none;
    }
}

.dark, .dark-theme {
    .sun {
        display: none;
    }
}
