.app_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  height: var(--header-height);
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
  z-index: 2;
  user-select: none;
  transition: background-color .18s, box-shadow .18s;
}
